/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2017, 6:31:59 PM
    Author     : Alin
*/

/*@font-face {
    font-family: PFDinDisplayPro-Regular;
    src: url('../fonts/PFDinDisplayPro-Regular/./fonts/PFDinDisplayPro-Regular.tff');
}*/

@font-face {
    font-family: 'PFDinDisplayPro-Regular';
    src: url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.woff') format('woff'), 
        url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.ttf')  format('truetype'), 
        url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
    padding: 0;
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    font-weight: 400;
    line-height: 1.4;
    background: #eeeff7;
}

.dark-blue-bg {
    background-color: #232a34!important;
}

.active.active-btn-pagination > a {
    background-color: #232a34!important;
    border-color: #232a34!important;
}

.mt15 {
    margin-top: 15px;
}

.text-center {
    text-align: center;
}

.book {
    margin-top: 15px;
    width: 140px;
    height: 215px;
    min-height: 215px;
    max-height: 215px;
    border: 1px solid; 
    border-radius:25px; 
    border-style:outset;
    border-color: #000;	
    box-shadow: 3px 3px 7px #000;
    filter: sepia(1);
    -webkit-filter: sepia(1);
    -moz-filter: sepia(1);
    -o-filter: sepia(1);
    -ms-filter: sepia(1);
}

.book-view {
    width: 340px;
    height: 415px;
    min-height: 415px;
    max-height: 415px;
    border: 1px solid; 
    border-radius:25px; 
    border-style:outset;
    margin: 0 auto;
    display: block;
}

.title-book {
    height: 70px;
    padding: 15px 10px;
    font-size: 18px;
    text-align: center;
}

.thumbnail:hover > .book {
    filter: sepia(0);
    -webkit-filter: sepia(0);
    -moz-filter: sepia(0);
    -o-filter: sepia(0);
    -ms-filter: sepia(0);
}

.thumbnail {
    max-height: 300px;
}

.navbar-nav > li {
    background: #435779;
    color: #FFF;
    padding: 0 10px;
    margin: 10px 10px;
    border-radius: 6px;
}

.navbar-nav > li > a {
    color: #fff!important;
}

.navbar-nav > li:hover {
    background: #808080;
}

.site-logo-img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    /*vertical-align: middle;*/
}

.site-logo-text {
    font-size: 28px;
    vertical-align: middle;
    display: table-cell;
    color: #333 !important;
    font-family: "PFDinDisplayPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#branding {
    width: 230px;
    display:table;
}

#header {
    font-family: "PFDinDisplayPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#logo > a {
    text-decoration: none;
    color: #1d282e;
}

img, a img {
    border: none;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-description {
    display: block;
    padding: 30px 35px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 600px;
}

.left-description {
    
}

.right-description {
    padding-left: 30px;
}

.right-description-top {
    font-size: 20px;
    
}

.right-description-top > td {
    padding: 6px 0;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/*pagina de login*/

.signin-form, .body-container {
    margin-top: 110px;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    font-family: Tahoma, Geneva, sans-serif;
    color: #990000;
    font-weight: lighter;
}

.form-signin .form-signin-heading {
    color: #00A2D1;
}

/*body {
    padding-top: 70px; 
}*/

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
.butoane_stanga{
    width:10%;
    border:2px solid black;
    margin-left:5%;
    border-radius:5px;
    position:absolute;
}
.adauga{
    width:60%;
    margin-left:20%;
    background-color:white;
    border:2px solid black;
    padding:5px;
}